@media (max-width: 768px) {
    .bloco-de-despesas, .grafico-bloco, .lancamentos {
        display: none;
    }

    .bloco-de-despesas.active, .grafico-bloco.active, .lancamentos.active {
        display: block;
    }

    body > div.container > div.grafico-bloco {
        display: none;
    }

    body > div.container > div.lancamentos {
        display: none; 
    }

}

@media (max-width: 768px) {
    .grafico-bloco {
        flex-direction: column;
        height: auto!important;
        grid-column: auto !important;
       }

    .lancamentos {
        flex-direction: column;    grid-column: 1 / 9;
        display: inline-flex;
        height: 600px!important;
        max-height: 600px!important;
        margin-top: 0px!important;
        justify-content: flex-start!important;
    }

    .export {
        margin-top: 0!important;
        margin-bottom: 0!important;
    }

    #export-excel {
        margin-bottom: 0!important;   
    }

    }




/* Estilo para o modo noturno */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;         
}

/* Ajuste para outros elementos, se necessário */
.dark-mode .header-mobile {
    background-color: #1e1e1e;
}

#darkModeToggleMobile {
    color: #ffcc00;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 50%;
    background: #1e1e1e;
    margin: 0;
    display: flex;
    }

    body > div.container > div.header-mobile {
        background: #ffffff;
        justify-content: flex-end;
    }

.header-mobile {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    padding: 10px 20px;
}


/* Estilos para o menu lateral */
    .sidebar {
        position: fixed;
        top: 0;
        left: -70vw; /* Menu escondido */
        width: 70vw;
        height: 100%;
        background-color: #666666;
        color: white;
        z-index: 999; /* Acima do overlay */
        transition: left 0.3s ease;
    }


.sidebar.open {
    left: 0;
    z-index: 999;
    
}


.menu-item {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-item:hover {
    background-color: #444;
}

/* Estilo para o botão do menu (hambúrguer) */
.menu-toggle {
    position: unset;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    font-size: 30px;
    color: #1e1e1e;
    display: flex;
}

/* Ícone do menu em estado normal e de "X" */
#menu-icon {
    transition: transform 0.3s ease;
}

#menu-icon.open {
    content: "\f00d";
}


/* Ajuste para esconder o menu lateral no desktop */
@media (min-width: 769px) {
    .sidebar {
        display: none;
    }
}

/* Ajuste para esconder o menu lateral no desktop */
@media (min-width: 769px) {
    .sidebar {
        display: none;
    }

    .menu-toggle {
        display: none;
    }

    .header-mobile {
        display: none;
    }
}


@media (max-width: 768px) {
    .fa-moon:before {
        color: #ffffff;
    }

    .fa-times:before {
        color: #ffffff    }

    .container>div {
        border-radius: 0 !important;
    }

    .sidebar button {
        background-color: #1e1e1e;
        border: none;
        color: white;
        padding: 10px;
        width: 80%;
        border-radius: 5px;
        cursor: pointer;
        transition: .2s ease-in-out 0s;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .sidebar button i {
        margin-right: 12px;
        font-size: 14px;
    }
    .modal {
        z-index: 2000!important;
        padding-top: 40%!important;
        }

        .sidebar button:hover {
            background-color: #555;
            transform: scale(1.1);
        }

        .dropdown {
            width: 80%!important;
            margin-left: 10%!important;
        }
}


.content {
    margin-left: 0;
    transition: margin-left 0.3s;
}

#menu-toggle:checked~.content {
    margin-left: 250px;
}




/* Estilos para o menu inferior */
.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    z-index: 998;
}

.menu-item {
    color: white;
    text-align: center;
    text-decoration: none;
    flex: 1;
    font-size: 14px;
}

.menu-item .icon {
    display: block;
    font-size: 20px;
    /* Tamanho do ícone */
}

.menu-item .label {
    font-size: 12px;
}

/* Só mostra o menu inferior no mobile */
@media (min-width: 768px) {
    .bottom-menu {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr;
    }

    .bloco-de-despesas {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu {
        width: 250px;
    }
}


@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        padding-top: 90px !important;
        grid-gap: 0 !important;
    }

    .bloco-de-despesas,
    .lancamentos,
    .menu,
    .receitas-bloco,
    .despesas-bloco,
    .bancos-bloco {
        grid-column: 1 / -1 !important;
        width: 100%;
    }

    .menu button {
        width: 100%;
        font-size: 14px;
    }

    .large,
    .receitas-bloco,
    .despesas-bloco,
    .grafico-item,
    .bancos-bloco {
        font-size: 1em;
        padding: 10px;
    }

    .bancos-bloco {
        height: auto;
        grid-template-columns: auto!important;
        max-height: 400px !important;
    }

    .minhas-contas {
        height: 160px;
    }

    .meus-cartões {
        height: 160px;
    }    

}

@media (max-width: 480px) {
    .container {
        grid-gap: 10px;
        padding: 10px;
    }

    .menu {
        flex-direction: column;
        width: 100%;
    }

    #open-modal-btn,
    #open-modal-btn-conta,
    #open-modal-btn-cartao {
        height: 50px;
        font-size: 14px;
    }

    .menu button i {
        margin-right: 8px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .menu {
        display: none !important;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .logo-container {
        display: flex!important;
        gap: 0;
    }

.logo-user {
    margin: 0 20px 30px 20px;
}

    footer {
        display: none !important;
    }

    .despesas-e-receitas {
        gap: 15px;
        display: grid;
        order: 4;
        grid-column: 1 / 4;
        grid-template-columns: repeat(2, 1fr);
    }

    #total-balance {
        grid-column: 1 / -1;
    }

    .large {
        font-size: 1em!important;
        height: 70px!important;
    }
}

@media only screen and (min-width: 769px) {
    .despesas-e-receitas {
        gap: 20px;
        display: inline-flex;
        order: 4;
        grid-column: 1 / 4;
    }
}



* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    max-width: 1320px;
    width: 100%;
    height: auto;
}

.container>div {
    background-color: #666666;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
}

.menu {
    grid-row: span 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: stretch;
    height: 850px;
    width: 296px;
}

#open-modal-btn,
#open-modal-btn-conta,
#open-modal-btn-cartao {
    height: 60px;
    font-size: 16px;
    font-weight: 700;
}

.bloco-de-despesas {
    grid-column: 2 / 9;
    display: grid;
    gap: 20px;
    font-weight: 700;
    grid-template-columns: repeat(3, 1fr);
}

#total-revenue {
    order: 4;
}

#total-expenses {
    order: 5;
}

#total-balance {
    order: 5;
}

body>div.container>div.bloco-de-despesas>div:nth-child(4) {
    order: 1;
}

body>div.container>div.bloco-de-despesas>div:nth-child(5) {
    order: 2;
}

.bancos-bloco {
    background-color: #666666;
    border-radius: 8px;
    min-height: 160px;
    max-height: 160px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    order: 1;
    grid-column: 1 / 4;
    gap: 20px;
}

.logo-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.logo-container>img {
    width: 50px;
    height: auto;
    margin: 20px auto 30px auto;
}

.logo-user {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.logo-user>img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid;
}

.user-info {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.greeting {
    font-size: 14px;
    color: #fff;
    margin: 0;
    text-align: left;
}

.username {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    text-align: left;
}



.menu button {
    background-color: #1e1e1e;
    border: none;
    color: white;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in-out 0s;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

.menu button i {
    margin-right: 12px;
    font-size: 14px;
}

.menu button:hover {
    background-color: #555;
    transform: scale(1.1);
}

.minhas-contas {
    border-radius: 8px;
    overflow: hidden;
    background-color: #1e1e1e;
    text-align: left;
    transition: overflow 0.3s ease;
}

.minhas-contas>span {
    font-size: 10px;
}

.minhas-contas>i {
    font-size: 11px;
    margin-right: 5px;
    margin-left: 10px;
    padding-top: 10px;
    ;
}

.minhas-contas>div {
    margin: 10px;
    margin-top: 8px;
    font-size: 12px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.meus-cartões {
    background-color: #2d2d2d;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1e1e1e;
    text-align: left;
    transition: overflow 0.3s ease;
}

.meus-cartões>span {
    font-size: 10px;
}

.meus-cartões>i {
    font-size: 11px;
    margin-right: 5px;
    margin-left: 10px;
    padding-top: 10px;
}

.meus-cartões>div {
    margin: 10px;
    margin-top: 8px;
    font-size: 12px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.meus-cartões>img {
    width: 150px !important;
}

.minhas-contas:hover,
.meus-cartões:hover {
    overflow-y: auto;
}

.large {
    grid-column: span 1;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(90deg, rgba(223, 159, 8, 1) 0%, rgba(190, 144, 14, 1) 0%, rgba(255, 0, 0, 1) 100%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 110px;
}

.receitas-bloco,
.despesas-bloco {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #666666;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
}


.grafico-bloco {
    grid-column: 2 / 9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    height: 501px;
}

.grafico-item {
    background-color: #2d2d2d;
    border: 1px solid #555;
    border-radius: 8px;
    text-align: center;
    height: 100%;
}

.lancamentos {
    grid-column: 1 / 9;
    display: inline-flex;
    gap: 20px;
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -60px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    color: #555;
    text-align: center;
}

#transaction-form,
#account-form,
#card-form {
    display: flex;
    flex-direction: column;
    color: #555;
    font-size: 11px;
    gap: 3px;
}

#transaction-form>button,
#account-form>button,
#card-form>button {
    margin-top: 10px;
    padding: 5px;
    padding-inline: 10px;
    background: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#transaction-form>button:hover,
#account-form>button:hover,
#card-form>button:hover {
    color: #fff;
    background: #28a777;
}

#type,
#description,
#category,
#amount,
#date,
#account-name,
#account-balance,
#card-name,
#card-limit {
    padding: 6px;
    margin-bottom: 10px;
    color: #444;
}

.grafico-item span {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

/* Tabela CSS */
.tabela {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

.tabela th,
.tabela td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}

.tabela th {
    background-color: #444;
    text-align: center;
}

#receitas-table>tbody>tr {
    font-size: 12px;
}

#receitas-table>thead>tr {
    font-size: 14px;
}

#despesas-table>tbody>tr {
    font-size: 12px;
}

#despesas-table>thead>tr {
    font-size: 14px;
}

.logo-list {
    display: none;
    position: absolute;
    background-color: #2d2d2d;
    border: 1px solid #555;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-list img {
    width: 60px;
    height: auto;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
    transition: transform 0.2s;
}

.logo-list img:hover {
    transform: scale(1.1);
    border: 2px solid #28a745;
}

.logo-container {
    position: relative;
}

.selected-logo {
    width: 60px;
    height: auto;
    border: 1px solid #555;
    border-radius: 4px;
    display: block;
    margin-top: 10px;
}


#bank-logo-card {
    padding: 6px;
    color: #444;
    margin-bottom: 10px;
}

#bank-logo-account {
    padding: 6px;
    color: #444;
    margin-bottom: 10px;
}

.container>div:empty {
    display: none;
}

.filters {
    display: flex;
    flex-direction: column;
}

.period-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 15px 5%;
    overflow: hidden;
}

.period-filter i {
    font-size: 1rem;
    color: #1e1e1e;
}

.months-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 15px;
    scrollbar-width: none;  
}

.months-container::-webkit-scrollbar {
    display: none;
}

.month {
    flex: 0 0 auto;
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    scroll-snap-align: center;
    transition: transform 0.2s, background-color 0.3s;
}

.month.active {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    transform: scale(1.1);
}

.month:hover {
    background-color: #555;
}

.scroll-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s;
}

.scroll-btn:hover {
    transform: scale(1.2);
}


.dropdown {
    padding: 10px;
    background: #1e1e1e;
    color: #ffffff;
    width: 206px;
    margin-left: 25px;
    position: absolute;
    text-align: left;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
    font-size: 0.8rem;
}

#period-dropdown {
    height: 120px;
    display: flex!important;
    flex-direction: column;
    grid-gap: 15px;
}

#start-date {
    width: 100%;
}

#end-date  {
    width: 100%;
}

.filters div:hover .dropdown {
    max-height: 200px;
    opacity: 1;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 5px 0;
}

button {
    margin: 5px;
}

#clear-filters {
    background: red;
}

.export {
    margin-top: auto;
    margin-bottom: auto;
}

#export-excel {
    cursor: pointer;
    margin-bottom: 15px;
    padding: 5px;
}

#export-excel:active {
    transform: scale(0.95);
}

#export-pdf {
    cursor: pointer;
    padding: 5px;
}

#export-pdf:active {
    transform: scale(0.95);
}


footer {
    color: #000;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    grid-column: 1 / 9;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
}

footer a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;
    display: inline-flex;
    align-items: center;
}

footer a:hover {
    color: #007bff;
}

.terms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info a,
.social-media a {
    font-size: 14px;
    margin: 5px 0;
}

.contact-info a {
    margin: 5px 0 0 25px;
}

.contact-info p {
    margin: 0 0 5px;
    font-weight: bold;
}

footer i {
    margin-right: 8px;
    font-size: 20px;
}

.social-media p {
    margin: 0 0 5px;
    font-weight: bold;
}

.terms p {
    margin: 0 0 5px;
    font-weight: bold;
}

.terms a {
    font-size: 14px;
    margin: 5px 0 0;
}

footer p {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 16px;
    color: #000;
}

body>div.container>footer>p {
    font-size: 12px;
}


/* Estilo do botão de modo noturno */
#darkModeToggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transform: none;
    width: auto;
    margin-bottom: 20px;
}

#darkModeToggle i {
    color: #000;
    border: 1px solid #1e1e1e;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
    background: #fff;
    transition: color 0.3s;
    margin: 0;
}

body.dark-mode #darkModeToggle i {
    color: #ffcc00;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
    background: #1e1e1e;
    margin: 0;
}

/* Estilos de Modo Noturno */
body.dark-mode {
    background-color: #1e1e1e;
    color: #fff;
}


body.dark-mode .header-mobile {
    background-color: #1e1e1e!important;
    color: #fff;
}

body.dark-mode .period-filter i {
color: #fff;
}

body.dark-mode .menu,
body.dark-mode .sidebar,
body.dark-mode .receitas-bloco,
body.dark-mode .despesas-bloco,
body.dark-mode .bancos-bloco,
body.dark-mode .bloco-de-despesas,
body.dark-mode .grafico-bloco,
body.dark-mode .lancamentos {
    background-color: #2d2d2d;
    color: #fff;
}

body.dark-mode .menu-toggle {
    background-color: transparent;
    color: #fff;
}

body.dark-mode footer,
body.dark-mode footer p,
body.dark-mode footer a {
    color: #fff;
}
    body.dark-mode .tabela th {
        background-color: #444;
        color: #fff;
    }

    body.dark-mode .large {
        background-color: orange;
    }
    #categoriasGraph {
        width: 150px!important;
        height: 150px!important;
        max-width: 100%!important;
    }
    